<h1>Registration</h1>

<form>
	<h3>Institution</h3>
	<label>
		Name:<input type="text" ng-model="newInst.name" required></input>
	</label>
	<label>
		Type: 
		<select ng-model="newInst.type" required>
			<option>Charity</option>
			<option>Foundation</option>
			<option>Social Welfare</option>
		</select>
	</label>
	<label>
		E-mail:<input type="text" ng-model="newInst.email" required></input>
	</label>
	<label>
		Password: <input type="password" ng-model="newInst.password"></input>
	</label>
	<label>
		 Confirm Password: <input type="password" ng-model="newInst.confPassword"></input>
	</label>
	<label>
		Address:<input type="text" ng-model="newInst.address" required></input>
	</label>
	<label>
		Phone:<input type="text" ng-model="newInst.phone" required></input>
	</label>
	<label>
		Logo (url): <input type="text" ng-model="newInst.image"></input>
	</label>
	<label>
		Description: <input type="text" ng-model="newInst.description" required></input>
	</label>
	<h3>Responsible</h3>
	<label>
		Name: <input type="text" ng-model="newInst.responsible.name" required></input>
	</label>
	<label>
		E-mail: <input type="text" ng-model="newInst.responsible.email" required></input>
	</label>
	<label>
		Phone: <input type="text" ng-model="newInst.responsible.phone" required></input>
	</label>
	<button type="submit" ng-click="addInst()">Save</button>
</form>