<h1>Login</h1>

<h3>{{ error }}</h3>

<h3>Institution</h3>
<form>
	<label>
		User Name:<input type="text" ng-model="instLogin.name">
	</label>
	<label>
		Password:<input type="password" ng-model="instLogin.password">
	</label>
	<button type="submit" ng-click="instLogin()">Login</button>
</form>

<h3>User</h3>
<form>
	<label>
		E-mail:<input type="text" ng-model="userLogin.email">
	</label>
	<label>
		Password:<input type="password" ng-model="userLogin.password">
	</label>
	<button type="submit" ng-click="login_user()">Login</button>
</form>