<h1>Registration</h1>

<h3>{{ error_msg }}</h3>

<form>
	<label>
		Name:<input type="text" ng-model="newUser.name"></input>
	</label>
	<label>
		E-mail:<input type="text" ng-model="newUser.email"></input>
	</label>
	<label>
		Password: <input type="password" ng-model="newUser.password"></input>
	</label>
	<label>
		 Confirm Password: <input type="password" ng-model="newUser.confPassword"></input>
	</label>
	<label>
		Address:<input type="text" ng-model="newUser.address"></input>
	</label>
	<label>
		Phone:<input type="text" ng-model="newUser.phone"></input>
	</label>
	<label>
		Profile picture (url): <input type="text" ng-model="newUser.image"></input>
	</label>
	<button type="submit" ng-click="addUser()">Save</button>
</form>